body {
  font-family: "Kumbh Sans", sans-serif;
  /*https://stackoverflow.com/questions/8541081/css-set-a-background-color-which-is-50-of-the-width-of-the-window*/
  background: linear-gradient(180deg, #ffffff 57%, #25293a 43%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 6.4%;
  text-align: center;
  background-image: url("/starter-code/assets/home/bg-pattern-header.svg");
  background-position: top center;
  background-size: auto 20%;
  background-position-y: -10.5%;
  background-repeat: no-repeat;
}

.logoSection {
  margin: 25px auto;
}

.chartImg {
  width: 50%;
  height: auto;
  margin: 30px auto;
}

h1 {
  color: #333950;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
}

.mainText {
  color: #747b95;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 25px 0 20px 0;
}

/*Buttons*/
button {
  border: none;
  border-radius: 28px;
  height: 56px;
  width: 171px;
}

button a {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.getStarted {
  background: #5175ff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.getStarted a {
  color: #ffffff;
}

.tryForFree a {
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.blueBtn {
  background-color: rgba(81, 117, 255, 0.15);
}

.blueBtn a {
  color: #5175ff;
}

.whiteBtn {
  background: #ffffff;
}

.whiteBtn a {
  color: #5175ff;
}

/*card styles*/
.cardSection {
  margin: 75px auto;
}

.card {
  border-radius: 13px;
  width: 327px;
  height: 508px;
  margin: 25px auto;
}

.cardWhite {
  background-color: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}

.cardBlue {
  background: #5175ff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  background-color: #5175ff;
  background-image: url("/starter-code/assets/home/bg-pattern-pricing.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -390px;
  color: #ffffff;
}

.membershipLevel {
  color: #333950;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 25px;
}

.membershipCost {
  color: #333950;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4rem;
  padding-top: 30px;
}

.membershipUser {
  color: #333950;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  padding-top: 30px;
}

.card ul {
  padding-top: 20px;
}

.membershipFeature {
  color: #747b95;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  padding-top: 15px;
}

.membershipFeatureWhite {
  color: #ffffff;
  opacity: 0.75;
}

.whiteText {
  color: #ffffff;
}

.tryForFree {
  margin-top: 55px;
}

/* Timer section */
.timerSection {
  padding-bottom: 100px;

  /*still working on*/
  color: #ffffff;
  background-color: #25293a;
  background-image: url("/starter-code/assets/home/bg-pattern-footer.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -1450px;
}

.timerText {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#timeTextBold {
  color: #5175ff;
}

.timerClock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.timerUnit {
  background-color: #333950;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 72px;
  height: 92px;
}

.countdownUnit {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.timeUnit {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.75rem;
  opacity: 0.5;
  padding-top: 3px;
}
