body {
  font-family: "Kumbh Sans", sans-serif;
  /*https://stackoverflow.com/questions/8541081/css-set-a-background-color-which-is-50-of-the-width-of-the-window*/
}

.backGroundMix {
  background: linear-gradient(180deg, #ffffff 56%, #25293a 44%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("/starter-code/assets/home/bg-pattern-header.svg");
  background-position: top center;
  background-size: auto 20%;
  background-position-y: -10.5%;
  background-repeat: no-repeat;
}

.logoSection {
  margin: 25px auto;
}

.chartImg {
  width: 50%;
  height: auto;
  margin: 30px auto;
}

h1 {
  color: #333950;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 6.4%;
}

.mainText {
  color: #747b95;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 25px 6.4% 20px 6.4%;
}

/*Buttons*/
button {
  border: none;
  border-radius: 28px;
  height: 56px;
  width: 171px;
}

button a {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.75rem;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button.getStarted:hover {
  background: #829cff;
}

button.whiteBtn a:hover {
  color: #829cff;
}

button.blueBtn:hover {
  background-color: rgba(81, 117, 255, 0.35);
}

button.blueBtn a:hover {
  color: rgba(81, 117, 255, 1);
}

.getStarted {
  background: #5175ff;
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}

.getStarted a {
  color: #ffffff;
}

.tryForFree a {
  line-height: 1.75rem;
  font-size: 1rem;
  font-weight: bold;
}

.blueBtn {
  background-color: rgba(81, 117, 255, 0.15);
}

.blueBtn a {
  color: #5175ff;
}

.whiteBtn {
  background: #ffffff;
}

.whiteBtn a {
  color: #5175ff;
}

/*card styles*/
.cardSection {
  margin: 75px auto 0px auto;
}

.card {
  border-radius: 13px;
  width: 327px;
  height: 508px;
  margin: 25px auto;
}

.cardWhite {
  background-color: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
}

.cardBlue {
  background: #5175ff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  background-color: #5175ff;
  background-image: url("/starter-code/assets/home/bg-pattern-pricing.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -390px;
  color: #ffffff;
}

.membershipLevel {
  color: #333950;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 25px;
}

.membershipCost {
  color: #333950;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4rem;
  padding-top: 30px;
}

.membershipUser {
  color: #333950;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  padding-top: 30px;
}

.card ul {
  padding-top: 20px;
}

.membershipFeature {
  color: #747b95;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  padding-top: 15px;
}

.membershipFeatureWhite {
  color: #ffffff;
  opacity: 0.75;
}

.whiteText {
  color: #ffffff;
}

.tryForFree {
  margin-top: 55px;
}

.backgroundFooter {
  position: absolute;
  background-color: #25293a;
  background-image: url("/starter-code/assets/home/bg-pattern-footer.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  bottom: -2260px;
  height: 1202px;
  width: 100%;
  z-index: -1;
}

/* Timer section */
.timerSection {
  color: #ffffff;
  padding-top: 90px;
  padding-bottom: 100px;
}

.timerBlock {
  margin: 0 6.4%;
}

.timerText {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#timeTextBold {
  color: #5175ff;
}

.timerClock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.timerUnit {
  background-color: #333950;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 72px;
  height: 92px;
}

.countdownUnit {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.timeUnit {
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.75rem;
  opacity: 0.5;
  padding-top: 3px;
}

/*--------------------Sign up page styles-------------*/
.backGroundMixSignUp {
  /*background: linear-gradient(180deg, #ffffff 68%, #25293a 32%); */
  background: linear-gradient(180deg, #ffffff 100%, #25293a 0%);
}

.containerSignUp {
  background-image: url("/starter-code/assets/home/bg-pattern-header.svg");
  background-position: top center;
  background-size: auto 40%;
  background-position-y: -27.5%;
}

.timerSectionSignUp {
  padding: 45px 0;
}

.timerTextSignUp {
  color: #333950;
}

.timerUnitSignUp {
  background-color: rgba(81, 117, 255, 0.1);
}

.countdownUnitSignUp {
  color: #5175ff;
}

.timeUnitSignUp {
  color: rgba(51, 57, 80, 1);
}

.formSection {
  background: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  width: 327px;
  height: 465px;
  margin: 0 auto 125px auto;
}

form {
  width: 279px;
  height: 417px;
  margin: 10px auto;
}

input {
  height: 45px;
  width: 279px;
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #747b95;
  padding: 12px 15px;
  outline: none;
}

select {
  background: url("/starter-code/assets/sign-up/icon-arrow-down.svg") no-repeat
    right #fff;
  -webkit-appearance: none;
  background-position-x: 254px;
  background-position-y: 10px;
  height: 45px;
  width: 295px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  outline: none;
  /*these target the actual text*/
  color: rgba(51, 57, 80, 1);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.75rem;
}

/*Code below I haven't fixed yet*/

select option:hover {
  background-color: #ffffff;
  border-bottom: #5175ff 1px solid 80%;
}

select option {
  background: #ffffff;
  color: rgba(51, 57, 80, 1);
}

select::placeholder {
  color: #747b95;
}

select::after {
  content: "";
  position: relative;
  width: 11px;
  height: auto;
  top: 6px;
}

select#package {
  margin-top: 14.5px;
  font-weight: bold;
  outline: none;
}

option {
  padding-top: 14.5px;
  outline: none;
}

.packagePrice {
  color: rgba(51, 57, 80, 0.5);
}

.submitBtn {
  background: #5175ff;
  width: 279px;
  height: 56px;
  margin-top: 55px;
}

.submitBtn a {
  color: #ffffff;
  font-weight: bold;
}

.backgroundFooterSignUp {
  position: absolute;
  background-color: #25293a;
  background-image: url("/starter-code/assets/home/bg-pattern-footer.svg");
  background-size: 120%;
  background-position: center bottom;
  background-repeat: no-repeat;
  bottom: -500px;
  height: 375px;
  width: 100%;
  z-index: -1;
}

/*media queries*/
@media only screen and (min-width: 768px) {
  .container {
    background-image: url("/starter-code/assets/home/bg-pattern-header.svg");
    background-size: auto 26%;
    background-position-x: 180%;
    background-position-y: -8.5%;
    background-repeat: no-repeat;
  }

  .logoSection {
    margin: 50px 6.4%;
    text-align: start;
  }

  .heroContent {
    display: flex;
    margin: 25px 3.2%;
    flex-direction: row-reverse;
  }

  .chartSection {
    width: 45%;
  }

  .chartImg {
    width: 100%;
    height: auto;
  }

  .heroSection {
    text-align: left;
    width: 55%;
    height: 352px;
  }

  .getStarted {
    margin-left: 3.2%;
  }

  .cardSection {
    width: 89.7%;
    margin: 25px auto;
  }

  .card {
    width: 100%;
    height: 316px;
    margin: 15px auto;
    text-align: left;
  }

  .cardDetails {
    display: flex;
    flex-direction: row;
  }

  .cardPricingSection {
    margin: 0 3.2%;
    width: 50%;
  }

  .cardFeaturesSection {
    width: 50%;
  }

  .cardFeaturesSection ul {
    margin-top: 50px;
  }

  .tryForFree {
    margin: 25px 0 0 3.2%;
  }

  .cardBlue {
    background-image: url("/starter-code/assets/home/bg-pattern-pricing.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: -340px;
    background-position-y: -320px;
  }

  .timerSection {
    width: 448px;
    height: 288px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .timerBlock {
    margin: 0;
  }

  .timerClock {
    justify-content: space-around;
  }

  .timerUnit {
    width: 100px;
    height: 128px;
  }

  .countdownUnit {
    font-size: 3.5rem;
  }

  .timeUnit {
    font-size: 1rem;
  }

  .backgroundFooter {
    background-size: 1454px 1454px;
    background-position: center -75px;
    height: 986px;
    z-index: -1;
    bottom: -1500px;
  }

  /*Sign Up form styles 768px*/
  .heroSectionSignUp {
    margin: 50px auto 0 auto;
    text-align: center;
    width: 85%;
    height: auto;
  }

  .formSection {
    width: 445px;
    height: 508px;
    margin: 0 auto 125px auto;
  }

  form {
    width: 360px;
  }

  .backgroundFooterSignUp {
    background-size: 120%;
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: -650px;
    height: 380px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    background-position: top center;
    background-size: 1134px 1134px;
    background-position-x: 210%;
    background-position-y: -88.5%;
    background-repeat: no-repeat;
  }

  .logoSection {
    margin: 100px 11.5%;
  }

  .chartImg {
    width: 475px;
    height: auto;
    margin: 0;
  }

  .heroSection {
    height: auto;
    width: 50%;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .mainText {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .cardSection {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 508px;
    width: 350px;
    overflow: hidden;
  }
  /*I'm onto something*/
  .cardDetails {
    display: unset;
    margin: 0 auto;
    text-align: center;
  }

  .cardPricingSection {
    width: auto;
  }

  .cardFeaturesSection {
    width: auto;
  }

  .card ul {
    margin: 0;
  }

  .tryForFree {
    margin: auto auto;
  }

  .cardBlue {
    background-position-x: center;
  }

  .backgroundFooter {
    background-size: 2036px 2036px;
    background-position: -702px center;
    height: 603px;
    z-index: -1;
    bottom: -300px;
  }

  .timerSection {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .timerBlock {
    margin-left: 3.2%;
  }

  .timerText {
    text-align: left;
  }

  .timerClock {
    gap: 15px;
  }

  .footerBtn {
    margin-top: 90px;
    margin-right: 3.2%;
  }

  /*Sign Up form styles 1440px*/
  .containerSignUp {
    display: flex;
    flex-direction: row;
    background-size: auto;
    background-position-x: 300%;
    background-position-y: 180%;
    overflow-x: hidden;
  }

  .informationSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 60%;
    margin: 0 5%;
  }

  .logoSectionSignUp {
    margin: 100px 13%;
  }

  .heroSectionSignUp {
    text-align: left;
    margin: auto 5%;
    width: 100%;
  }

  .mainTextSignUp {
    width: 75%;
  }

  .timerClockSignUp {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
  }

  .formSection {
    width: 445px;
    height: 508px;
    margin: auto 10% auto 0;
  }

  form {
    margin-top: 20px;
    width: 445px;
  }

  .backGroundMixSignUp {
    background: linear-gradient(90deg, #ffffff 70%, #25293a 30%);
  }
}
